
#card2{
  width: 80%;
}
#card1{
  width: 80%;
}
#card3{
  width: 78%;
}
#card4{
  width: 80%;
}

#shadow{
  color:black;
  text-shadow: 2px 2px 4px #000000;

}

.card:hover {
  transform: scale(1.1);

}
.card {
  transition: transform 0.2s ease;
}
#copturi{
  color:#ffbf80;
  text-shadow: 2px 2px 4px #000000;
  background-color: transparent;
  text-align: center;

}
